In [1]:
import pandas as pd
iris_filename = 'datasets-uci-iris.csv'
iris = pd.read_csv(iris_filename, sep=',', decimal='.', header=None, 
                   names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'])

In [2]:
mask_feature = iris['sepal_length'] > 6.0
mask_feature.head()

0    False
1    False
2    False
3    False
4    False
Name: sepal_length, dtype: bool

In [3]:
# 查看不重复的标签列表
iris['target'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [4]:
# 将target=='setosa'的部分改写为'New setosa'
mask_target = iris['target'] == 'setosa'
iris.loc[mask_target, 'target'] = 'New setosa'

In [5]:
iris['target'].unique()

array(['New setosa', 'versicolor', 'virginica'], dtype=object)

### 可以依照类别统计均值和方差

In [7]:
grouped_targets_mean = iris.groupby(['target']).mean()
grouped_targets_mean

            sepal_length  sepal_width  petal_length  petal_width
target
New setosa         5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [9]:
grouped_targets_var = iris.groupby(['target']).var()
grouped_targets_var

            sepal_length  sepal_width  petal_length  petal_width
target
New setosa      0.124249     0.145180      0.030106     0.011494
versicolor      0.266433     0.098469      0.220816     0.039106
virginica       0.404343     0.104004      0.304588     0.075433

### 可以使用sort()方法对观测值进行排序

In [14]:
iris.sort_values(by='sepal_length').head()

    sepal_length  sepal_width  petal_length  petal_width      target
13           4.3          3.0           1.1          0.1  New setosa
42           4.4          3.2           1.3          0.2  New setosa
38           4.4          3.0           1.3          0.2  New setosa
8            4.4          2.9           1.4          0.2  New setosa
41           4.5          2.3           1.3          0.3  New setosa

### 针对时间序列可以使用rolling操作平滑均值或中位数
```
smooth_time_series = pd.rolling_mean(time_series, 5)
smooth_time_series = pd.rolling_median(time_series, 5)
```